.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# ignorar archivosAntiguos
archivosAntiguos/

*.csv
*.json

# Ignorar archivos de logs
logs/

# Ignorar base de datos
*.db
*.sqlite3

tutor.db

# Ignorar archivos .mp3
*.mp3


